<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FeedFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FeedFrameworkCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FeedFrameworkiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA51C0D42A3A4885002EC274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA799A0F2A4B7818004963A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8948172A4CF26F00240F61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA89481E2A4CF27100240F61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABF6D0D2A26761E009FE0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABF6D172A26761F009FE0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
